@import "../../assets/styles/variables";

.wrapper {
  position: relative;
  background: $green-100;
  height: fit-content;
  min-width: fit-content;
  border-radius: 5px;
  margin-right: 4%;
  h4 {
    border-radius: 5px 5px 0 0;
    text-align: center;
    margin: 0;
    font-size: 24px;
    color: $white;
    background: $green-300;
    padding: 10px 0;
  }
  @media screen and (max-width: 1000px) {
    h4 {
      font-size: 20px;
    }
  }
}

.dropdownStyle {
  margin: 0 0 0 4%;
}
