.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  grid-gap: 15px;

  @media screen and (max-width: 1300px) {
    grid-gap: 10px;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
