@import "../../../../assets/styles/variables";

h3 {
  padding: 10px 20px 10px 10px;
  height: 50px;
  margin: 0;
  font-size: 20px;
  color: $green-500;
  cursor: pointer;

  @media screen and (max-width: 1200px) {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }
}

.active {
  background: #268c18;
}
